* text=auto

*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.jpg binary
*.jpeg binary
*.png binary
*.pt binary
*.pth binary
*.onnx binary
*.db binary
